.submitted-task {
    padding: 20px;
}

.table {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    overflow:visible
}

.thead-dark th {
    background-color: #69b8a4 !important;
    color: white;
    text-align: center;
}

td, th {
    text-align: center;
    padding: 12px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.back-btn {
    background-color: #69b8a4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-btn:hover {
    background-color: #4a9e8c;
    transform: scale(1.05);
}

/* Status Colors */
.status-approved {
    color: green;
    font-weight: bold;
}

.status-pending {
    color: orange;
    font-weight: bold;
}

.status-rejected {
    color: red;
    font-weight: bold;
}
