.card {
    background: #ffffff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 480px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
  }
  
  .header {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  
  .projectIcon {
    /* color: #007bff; */
    font-size: 20px;
    color: #000000;
    margin-top: 10px;
  }
  
  .projectName {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  
  .mentor {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #666;
  }
  
  /* .userIcon {
    color: #28a745;
  } */
  
  .viewMore {
    background: none;
    border: none;
    color: #5EB5AE;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .viewMore:hover {
    text-decoration: underline;
  }
  
  .arrowIcon {
    font-size: 14px;
  }
  