

.container {
    width: 100%;
    /* max-width: 100vw; */
    margin: auto;
  }

  .statsContainer {
    display: flex;
    justify-content: center; /* Centers the cards */
    align-items: center; /* Aligns text vertically */
    flex-wrap: wrap; /* Ensures responsiveness */
    margin-bottom: 15px;
    gap: 40px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  .statsCardTitle {
    margin-bottom: 55px; /* Reduce gap */
    font-size: 16px; /* Adjust title size */
    font-weight: 500;
    color: #555; /* Slightly dim to create contrast */
  }
  
  .statsCardValue {
    font-size: 22px; /* Make the value stand out */
    font-weight: bold;
    color: #333;
  }

.formContainer {
    max-width: 4000px;  
    margin: auto;
    padding-left: 30px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px  4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    
  }
  
  h2 {
    text-align: center;
    /* margin-bottom: 25px; */
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
   
  }
  
  .inputBox {

    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(250, 244, 244, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .inputBox:focus {
    outline: none;
    box-shadow: 0px 2px 8px #5EB5AE ; /* Yellow glow on focus */
  }
  
  .assignButton {
    width: 100%;
    padding: 14px;
    background: #5EB5AE;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-weight: bold;
  }
  
  .assignButton:hover {
    background: #02414B ;
  }


  

   
    