.dashboardContainer {
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .statsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .statCard {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .statCard:hover {
    transform: translateY(-5px);
  }
  .contentWrapper {
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    width: 100%;
  }
  
  .listContainer {
    width: 50%; /* Set List to 50% width */
  }
  
  .icon {
    font-size: 40px;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  p {
    font-size: 14px;
    color: #666;
  }
  