@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap");
.sidebar {
    width: 250px;
    background-color: white;
    color: black;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: "Inknut Antiqua", serif;
  }
  
  
  .logo {
    width: 200px;
    height: 200px;
    cursor: pointer; 
  }
  img{
    margin-top: -40px;
    margin-left: 30px;
  }

.competitionInfo {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
  }
  
   ul{
    gap: 15px;
   }
  .navLink {
    color: black !important;
    padding: 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .navLink:hover {
    background-color: #ebf0f3;
  }
  
  .active {
    font-weight: bold;
    color: #5EB5AE !important;
  }
  
  .arrowIcon {
    color: #5EB5AE;
    transition: transform 0.3s ease-in-out;
  }
  
