
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.left-half, .right-half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.left-half {
  left: 0;
  background-color: #F6A58C;
}

.right-half {
  right: 0;
  background-color: #FFF2D7;
}


.competition-title {
  position: absolute;
  top: 4%;
  text-align: center;
  width: 100%;
  color: black;
  z-index: 1;
}

.competition-title h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.competition-title p {
  font-size: 1.2rem;
  font-weight: bold;
}


.login-box {
  background-color: #FFF2D7;
  width: 850px;
  height: 600px;
  display: flex;
  border-radius: 8p;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1;
}


.login-left {
  flex: 1;
  background-color: #FFF2D7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.login {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.login-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.login-right {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.input-group {
  margin-bottom: 1rem;
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.login-btn {
  width: 100%;
  background-color: #F6A58C;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #e07655;
}
